[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jinja2 = "*"
black = "==19.10b0"
pytest = "*"
coverage = "*"
isort = "*"
vulture = "*"
wemake-python-styleguide = "*"
autoflake = "*"
mypy = "*"
pytest-django = "*"
pytest = "*"
sphinx-glpi-theme = "*"
sphinx = "*"
django-rosetta = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
django-redis = "*"
uvicorn = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-environ = "*"
sentry-sdk = "==0.14.3"
django-grappelli = "*"
celery = "*"
dependency-injector = "*"
django-modeltranslation = "*"
django-versatileimagefield = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"
django-watchman = "*"
drf-yasg = "*"
django-inline-actions = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-admin-sortable2 = "*"
django-filter = "*"

[requires]
python_version = "3.8"
